<div id="<%= dom_id noticia %>">
  <article class="blog-post">
    <h2 class="blog-post-title mb-1"><%= noticia.titulo %></h2>
    <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

    <p><%= noticia.content %></p>

    <p>
      <strong>Arquivo:</strong>
      <%= noticia.arquivo %>
    </p>
      
  </article>
</div>

      