<div class="row align-items-center mt-5">
    <div class="col-3">
      
    </div>
    <div class="col-6">
      <h1 class="text-primary">Editar Ramal</h1>
    </div>
    <div class="col-3">
    
    </div>
</div>

<%= render "form", ramal: @ramal %>

<br>

<div>
  <%= link_to "Mostrar", @ramal, class:"btn btn-outline-primary mb-3" %>
  <%= link_to "", ramais_path, class:"mb-3 bi bi-box-arrow-left btn btn-outline-success mb-3" %>
  <%= button_to "Apagar", @ramal, method: :delete, class:"btn bi bi-trash3 btn-danger mb-3"  if policy(@ramal).destroy? %>
</div>
