
  <div class="row g-5">
    <div class="col-md-12">
      <h3 class="pb-4 mb-4 fst-italic">
      </h3>

      <%= render @jornal %>

      <div class="mb-4">
        <%= link_to "Voltar", jornais_path, class:"btn btn-outline-info rounded-pill" %>
      </div>
      

      <!--<nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      </nav>-->

    </div>
    
  </div>