<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: #045B9336;">
  <!-- Section: Social media 
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    
    <div class="me-5 d-none d-lg-block">
      <span>Conecte-se em nossas redes sociais:</span>
    </div>
    

    
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    
  </section>
  Section: Social media -->

  <!-- Section: Links  -->
  <section class="d-flex p-4">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Hospital Estadual Getúlio Vargas
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Home</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Campus Virtual</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Manuais e Procedimentos
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">POPs</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Lista de Presença</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Formulário de bancada</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Solicitação de acesso</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Ocorrência de ponto</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Troca de plantão</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links Úteis
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">TI Med - HEGV</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">TI Med - UPA</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Bios Lab</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">GLPI - Central de Soluções</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Zamed - Logística</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">CadWeb</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Lista de Ramais</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Dúvidas Frequentes</a>
          </p>
        </div>
        <!-- Grid column -->

        
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="http://intranet.cesp">Equipe de T.I. Hospital Estadual Getúlio Vargas</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->